---
import "../css/card.css";
import { Image } from "astro:assets";

interface Props {
  img: string;
  title: string;
  description: string;
  icons: string[];
  link: string;
}

const { img, title, description, icons, link } = Astro.props;
---

<div
  onclick={`window.location.href='${link}'`}
  class="card animate__animated opacity-0 fadeIn"
>
  <div class="relative">
    <div class="card-img-container">
      <!-- <img src={img} alt={img} class="w-full" /> -->
      <Image
        src={"/" + img}
        alt={img}
        class="w-full"
        width={100}
        height={100}
      />
    </div>
  </div>
  <div>
    <h3 class="font-bold my-4">{title}</h3>
    <p>{description}</p>
  </div>
  <small
    class="absolute right-0 left-0 bottom-0 bg-black/50 rounded-b-lg h-8 flex justify-items-center justify-center items-center text-lg"
  >
    {
      icons.map((icon) => {
        // return <img src={icon} alt={icon} class="w-6" />;
        return (
          <Image
            src={"/" + icon}
            alt={icon}
            class="w-6"
            width={100}
            height={100}
          />
        );
      })
    }
  </small>
</div>
